[Unit]
Description=Reconcile MiniContainer runtime state
Documentation=https://github.com/fullstack-nick/minicontainer
After=local-fs.target
Before=multi-user.target
ConditionPathExists=/var/lib/minicontainer

[Service]
Type=oneshot
ExecStart=/usr/bin/minicontainer gc
ExecStart=/usr/bin/sleep 2
ExecStart=/usr/bin/minicontainer gc
PrivateTmp=yes
ProtectHome=yes
ProtectSystem=strict
ReadWritePaths=-/var/lib/minicontainer -/run/minicontainer -/var/log/minicontainer /sys/fs/cgroup
NoNewPrivileges=no

[Install]
WantedBy=multi-user.target
